<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="20685AndreaGot.GeneraPass" Publisher="CN=A1F1B194-41F0-4110-8983-9265144550A0" Version="1.1.0.0" />
  <Properties>
    <DisplayName>GeneraPass</DisplayName>
    <PublisherDisplayName>AndreaGot</PublisherDisplayName>
    <Logo>Loghi\50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PassGenW8.App">
      <m2:VisualElements DisplayName="GeneraPass" Square150x150Logo="Loghi\150x150.png" Square30x30Logo="Loghi\30x30.png" Description="Hai bisogno di una password? PassGen può fare al caso tuo!" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile Square310x310Logo="Loghi\310x310.png" Wide310x150Logo="Loghi\310x150.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Loghi\620x300.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>